<%= form_with(model: @task, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task-form form_group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="task-form form_group">
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div class="task-form form_group">
    <%= form.label :time_limit, class: 'content-margin' %>
    <%= form.datetime_select :time_limit %>
  </div>
  <div class="task-form form_group">
    <%= form.label :status, class: 'content-margin' %>
    <%= form.select :status, Task.statuses.keys %>
  </div>
  <div class="task-form form_group">
    <%= form.label :priority, class: 'content-margin' %>
    <%= form.select :priority, Task.priorities.keys %>
  </div>
  <div class="field">
    <%= form.label :label_name, class: 'content-margin' %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <div class="text-center">
    <%= form.submit "登録する", class: 'btn btn-primary' %>
  </div>
<% end %>
<br>
<%= link_to t('view.task_list'), tasks_path %>
