<h3><%= t('view.send_with_the_following_contents') %></h3>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p><%= t('view.title') %>:<%= @task.title %></p>
  <p><%= t('view.content') %>:<%= @task.content %></p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
