<h3><%= t('view.send_with_the_following_contents') %></h3>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :time_limit %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <p><%= t('view.title') %>:<%= @task.title %></p>
  <p><%= t('view.content') %>:<%= @task.content %></p>
  <p><%= t('view.time_limit') %>:<%= @task.time_limit.strftime("%Y年%m月%d日%H時%M分") %></p>
  <p><%= t('view.status') %>:<%= @task.status %></p>
  <p><%= t('view.priority') %>:<%= @task.priority %></p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
