<h1><%= t('view.task_list') %></h1>
<p><%= notice %></p>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= form_with(model: @tasks, url: tasks_path, method: :get, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, id: 'task_title'%>
  <%= form.label :status %>
  <%= form.select :status, Task.statuses.keys, id: 'task_status' %>
  <%= form.submit "検索する" %>
<% end %>
<table>
  <tr>
    <th><%= t('view.title') %></th>
    <th><%= t('view.content') %></th>
    <th><%= t('view.time_limit') %></th>
    <th><%= t('view.status') %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr id="task_row">
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.time_limit.strftime("%Y年%m月%d日%H時%M分") %></td>
    <td><%= task.status %></td>
    <td><%= link_to t('view.detail'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to t('view.new'), new_task_path %>
